<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subs</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="nav">
        <a href="/subs/list/">Subreddit List</a>
    </div>
    <br>
    <h1>Subs with posts</h1>
    <ul>
        <% database.getSubs().forEach(sub=> { %>
            <% if (database.getPosts(1, sub).length> 0) { %>
                <li><a href="/subs/show/<%= sub %>">
                        <%= sub %>
                    </a></li>
                <% } %>
                    <% }); %>
    </ul>
</body>


</html>